body{
    background-color: blue;
    color:inherit;
}
    
.logo {
    height: 40x;
    width: 40px;
}

h2{
    color: rgb(241, 241, 107);
}
h6{
    color: aliceblue;
}
.card-film {
    min-height: 450px;
}
.text-muted {
    color: #f7f8f8!important;
}

.card-film .card-body{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:  white;
}
.cor{
    background: white;
}

.navbar-light .navbar-brand{
color:blue;
text-align: center;
font-family: monospace;
font-size: 0.5cm;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(0, 0, 79);
}
/* cor do botões */
.btn-primary {
    background-color: blue;
    border-color:  #FFF0F5;

}

.page-item.active .page-link { 
    background-color:blue;
    border-color: #FFF0F5;
}

.footer {
    background-color: #FFF0F5;
}
.footer a{
    color: blue;
    text-decoration: none;
    font-size: 1.25em;
    
}